
<style>
body{
    background-color: #216d38;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
h1{
    color: #ff0000;
    background-color: rgb(23, 136, 156);
}
h2{
    color: #ff0000;
}
p {
    color: chocolate;
    text-align: justify;
}
</style> 